
<div class='field label border round'>
  {{ form.name }} {{ form.name.label_tag }}
</div>
<div class='field label border round'>
  {{ form.description }} {{ form.description.label_tag }}
</div>
<div class='field label border round'>
  {{ form.barcode }} {{ form.barcode.label_tag }}
</div>

<!-- ALPINE ROOT -->
<div x-data='{price:"{{form.price.value}}",purchase_price:"{{form.purchase_price.value}}",percent:20}'>
  <div class='field label border round'>
      <input type='number' id='{{ form.purchase_price.id_for_label }}' 
      step='0.01'
      min='1'
      name='{{ form.purchase_price.html_name }}' 
      x-model='purchase_price' />
      {{ form.purchase_price.label_tag }}
  </div>
  <div class='row'>
    <div class='field label border round'>
      <input type='number' step='0.01' id='{{ form.price.id_for_label }}' 
      name='{{ form.price.html_name }}' 
      x-model='price' />
      {{ form.price.label_tag }}
    </div>
    <button type='button' @click='price = currency(purchase_price).multiply(1 + percent/100)'>
      Calcular en base a porcentaje de ganancia
    </button>
    <div class='field label prefix border round'>
      <i>percent</i>
      <input type='number' step='1' min='1' value='20' x-model='percent' />
      <label>Porcentaje de ganancia</label>
    </div>
  </div>
</div>
<!-- ALPINE -->
  
<div class='field label border round'>
  {{ form.quantity }} {{ form.quantity.label_tag }}
</div>
<div class='field label border round'>
  {{ form.min_quantity }} {{ form.min_quantity.label_tag }}
</div>
  <div class="row small-margin:w">
    <label class='checkbox'>
      {{ form.has_iva }} 
      <span class="large-text">Incluye IVA</span>
    </label>
    <label class='checkbox'>
      {{ form.controlled }} 
      <span class="large-text">Antibiotico</span>
    </label>
  </div>
<div class='field label border round'>
  {{ form.category }} {{ form.category.label_tag }}
</div>
