{% load static %}
<!DOCTYPE html>
<html lang='es'>
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset='utf-8' />

  <!-- BEER CSS -->
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.2.8/dist/cdn/beer.min.css" rel="stylesheet">
  <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.2.8/dist/cdn/beer.min.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@0.1.7/dist/cdn/material-dynamic-colors.min.js"></script>
  <!-- / -->

  <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/minze@latest/dist/module.js" refer></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="{% static 'pdv/sales.js' %}"></script>
  <style>
    :root{
      --size: 20px;
    }
  </style>

</head>
<body class='dark'>
  <header class='primary-container'>
    <nav>
      <h4 class='max'>{{ title }}</h4> <button>Ventas</button> <button>Articulos</button> <button>Administracion</button>
    </nav>
  </header>
  <main class='responsive max center padding'>
    <br />
    {% block content %}
    {% endblock %}
    <br />
  </main>
</body>
</html>