{% load static %}
<!DOCTYPE html>
<html lang='es-MX'>
<head>
  <title>{% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset='utf-8' />

  <!-- BEER CSS -->
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.2.8/dist/cdn/beer.min.css" rel="stylesheet">
  <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.2.8/dist/cdn/beer.min.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@0.1.7/dist/cdn/material-dynamic-colors.min.js"></script>
  <!-- / -->

  <link rel="stylesheet" href="{% static 'pdv/css/wickedcss.min.css' %}">
  <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/currency.js@~2.0.0/dist/currency.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="{% static 'pdv/components.js' %}"></script>
</head>
<body class='dark'>
  <div @click='$el.classList.toggle("active")' x-data class="toast error top {% if error %} active {% endif %}">{{ error }}</div>
  <header class='primary-container'>
    <nav>
      <h4 class='max'></h4> 
      <div>
        <p x-data='{date:new Date()}' 
        x-init='setInterval(()=>date = new Date(), 60000)'
        x-text='date.toLocaleTimeString("es-MX",{timeStyle:"short"})'></p>
      </div>
      <a href='{% url "pdv:makesale" %}' class='chip transparent' >
        Ventas
      </a> 
      <a href='{% url "pdv:article_list" "all" 1 %}' class='chip transparent' >
        Articulos
      </a> 
    </nav>
  </header>
  <main class='responsive max center padding'>
    <br />
    {% block content %}
    {% endblock %}
    <br />
  </main>
</body>
</html>