{% extends 'pdv/base.html' %}

{% block content %}
  <article>
    <h3>Recetas</h3>
      <nav>
        <a href='{% url "pdv:medics" %}' class='chip'>Agregar medico</a>
      </nav>
    <br>
    {% if prescriptions %}
      <table>
        <thead>
          <tr>
            <th>Folio</th>
            <th>Fecha</th>
            <th>Medico</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
        {% for prescription in prescriptions %}
          <tr>
            <td>{{prescription.number}}</td>
            <td>{{prescription.date}}</td>
            <td>{{prescription.medic}}</td>
            <td>{{prescription.type}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h5>No hay recetas medicas</h5>
    {% endif %}
    <br>
    {% if count > 0 %}
      <h5>Ventas que requieren receta medica</h5>
      <div class='padding'>
        {% for id, data in controlled.items %}
        <div class='row'>
          <article class='max border round'>
            <h5>Fecha {{data.date|date:"d/m/Y P"}}</h5>
            <br/>
            <div class='grid'>
              {% for article in data.articles %}
                <div class='s2'><i>arrow_right</i>{{article.quantity}} {{article.name}}</div>
              {% endfor %}
            </div>
            <br/>
            <div class='max row'>
              {% include "pdv/search-bar-input.html" with id="medic-id-input" parameter="name" placeholder="Medico" urlname="pdv:medic_search" %}
              <form action='{% url "pdv:prescriptions" %}' method='POST'>
                {% csrf_token %}
                <input type='hidden' name='sale' value='{{id}}' required/>
                <input type='hidden' name='medic' value='' id='medic-id-input' required/>
                <div class='row padding'>
                  <label class='radio'>
                    <input type='radio' name='type' value='total' required/>
                    <span>Total</span>
                  </label>
                  <label class='radio'>
                    <input type='radio' name='type' value='partial' required/>
                    <span>Parcial</span>
                  </label>
                  <button type='submit'>Guardar</button>
                </div>
              </form>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
      <br/>
    {% else %}
      <h5>No hay medicamento que requieran receta medica</h5>
    {% endif %}
  </article>
{% endblock %}