{% extends 'pdv/base.html' %}

{% block content %}
  <article>
    <h3>Recetas</h3>
      <nav>
        <a href='{% url "pdv:medics" %}' class='chip'>Agregar medico</a>
      </nav>
    <br>
    {% if prescription %}
      
    {% else %}
      <h5>No hay recetas medicas</h5>
    {% endif %}
    <br>
    {% if count > 0 %}
      <h5>Ventas que requieren receta medica</h5>
      <div>
        {% for id, data in controlled.items %}
        <div class='row'>
          <article class='max border round'>
            <h5>Fecha {{data.date|date:"d/m/Y P"}}</h5>
            <br/>
            <div class='grid'>
              {% for article in data.articles %}
                <div class='s2'><i>arrow_right</i>{{article.quantity}} {{article.name}}</div>
              {% endfor %}
            </div>
            <div class='row'>
                <div class='field border'>
                  <input type='text' placeholder='Medico' />
                </div>
                <label class='radio'>
                  <input type='radio' name='type' value='true'/>
                  <span>Total</span>
                </label>
                <label class='radio'>
                  <input type='radio' name='type' value='false'/>
                  <span>Parcial</span>
                </label>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
      <br/>
      <button type='submit'>Guardar</button>
      
    {% else %}
      <h5>No hay medicamento que requieran receta medica</h5>
    {% endif %}
  </article>
{% endblock %}