{% extends 'pdv/base-list.html' %}

{% block list-content %}
  <article>
    <h3>Lista de Recetas</h3>
    <br>
    {% if object_list %}
      <table>
        <thead>
          <tr>
            <th>Folio</th>
            <th>Fecha</th>
            <th>Cedula del Medico</th>
            <th>Registro de Salubridad</th>
            <th>Direccion</th>
            <th>Nombre del Medico</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
        {% for prescription in object_list %}
          <tr {% if prescription.total %}class='border secondary'{% endif %}>
            <td>{{prescription.number}}</td>
            <td>{{prescription.date}}</td>
            <td>{{prescription.cedula}}</td>
            <td>{{prescription.ssa}}</td>
            <td>{{prescription.address}}</td>
            <td>{{prescription.full_name}}</td>
            <td>{% if prescription.total %}Total{% else %}Parcial{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h5>No hay recetas medicas</h5>
    {% endif %}
    <br>
  </article>
{% endblock %}
