{% extends 'pdv/base.html' %}

{% block content %}
  <article>
    <h3>Recetas</h3>
      <nav>
        <a class='chip'>Nueva Receta</a>
        <a href='{% url "pdv:medics" %}' class='chip'>Agregar medico</a>
      </nav>
    <br>
    {% if prescription %}
      
    {% else %}
      <h5>No hay recetas medicas</h5>
    {% endif %}
    <br>
    {% if controlled %}
      <h5>Medicamentos que requieren receta medica</h5>
    {% else %}
      <h5>No hay medicamento que requieran receta medica</h5>
    {% endif %}
  </article>
{% endblock %}