{% extends 'pdv/base.html' %}
{% block content %}
  <article>
    <h4>Ventas de hoy</h4>
    <table>
      <tbody>
        <tr>
          <th>Numero de artículos vendidos</th>
          <td>{{total_count}}</td>
        </tr>
        <tr>
          <th>Total vendido</th>
          <td>${{total_sold}}</td>
        </tr>
        <tr>
          <th>Costo total</th>
          <td>${{total_purchased}}</td>
        </tr>
        <tr>
          <th>Ganancia</th>
          <td>${{gain}}</td>
        </tr>
        <tr>
          <th>Porcentaje de ganancia</th>
          <td>{{gain_percentage}}%</td>
        </tr>
      </tbody>
    </table>
  </article>
{% endblock %}
