{% extends 'pdv/base.html' %}

{% block title %}Ventas{% endblock %}

{% block content %}
<div x-data='{articles:{}}'>
  <script>
    function addOrIncrement(articleList, article){
      if(article.id in articleList){
        articleList[article.id].quantity++;
        return;
      }
      articleList[article.id] = {...article, quantity: 1};
    }

    function computeTotal(articleList){
      return Object.values(articleList).map((a)=>a.price*a.quantity).reduce((a,b)=>a+b, 0);
    }

    window.onkeydown = function(){
      const element = document.getElementById('barname-search');
      element.focus();
    };
    
    
  </script>
  <article class='secondary-container'>
    <div class='row'>
      <a href='{% url "pdv:report_today" %}' class='border chip'>Ventas del día</a>
    </div>
    <h5>Venta</h5>
    <br>
    <div class='container'>
      <div class='suffix field prefix fill primary large border'>
        <i class='front'>barcode_reader</i>
        <input type='search'
          id='barname-search'
          hx-get="/pdv/activesearch"
          hx-trigger="keyup changed delay:300ms"
          hx-target="#search-results" 
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'            
          pattern='.{2,}'
          name='barname'
          onblur='this.value = ""; this.classList.toggle("shake")'
          onfocus='this.classList.toggle("shake")'
          autofocus
          placeholder='Escribir nombre o codigo de barras'/>
        <i class="front">close</i>
      </div>
      <menu x-ref='searchres' id='search-results'>
      </menu>
    </div>

    <div>
    <div class='row'><h4>Total: </h4> <h5>$<p x-text='computeTotal(articles)'></p></h5></div>
      <template x-for='article in articles'>
        <div class='row min slideRight'>
          <p class='max' x-text='article.name'></p>
          <p>$<p class='max' x-text='article.price'></p></p>
          <nav class='no-space'>
            <button class='border large left-round' @click='article.quantity++'><i>add</i></button>
            <div class='field min border no-round border'>
              <input type='number' min='1' x-model='article.quantity'/>
            </div> 
            <button class='border large right-round' @click='article.quantity = article.quantity > 1? article.quantity - 1 : 1'><i>remove</i></button>
          </nav>
          <a class='circle tertiary' @click='delete articles[article.id]'><i>delete</i></a>
          </div>
      </template>
    </div>

    <div class='large-space'></div> <!-- BRUH -->
    <form method='post' action='{% url "pdv:makesale" %}'>
      {% csrf_token %}
      <nav class='no-space'>
        <template x-for='article in articles'>
          <input type='hidden' x-bind:name='article.id' x-bind:value='article.quantity' />
        </template>
        <button type='submit' class='vertical border left-round primary extra'><i>print</i> Cobrar e imprimir ticket </button>
        <button type='submit' @click='$refs.articles_input.value = articles' class='vertical border no-round primary extra'><i>payments</i> Cobrar </button>
        <button type='button' @click='$refs.confirm_dialog.open = true' class='vertical border right-round tertiary extra'><i>close</i> Cancelar venta </button>
      </nav>
    </form>
    <dialog class='modal' x-ref='confirm_dialog'>
      <h5>Advertencia</h5>
      <div class='row'>¿Cancelar la venta?</div>
      <nav>
        <button @click='$refs.confirm_dialog.open=false; articles={}'><i>check</i></button>
        <button @click='$refs.confirm_dialog.open=false'><i>close</i></button>
      </nav>
    </dialog>
  </article>
<div>
{% endblock %}
