{% extends 'pdv/base.html' %}

{% block title %}Administración de articulo{% endblock %}

{% block content %}
  <article x-data="{filename:''}">
    <h4>Importar desde JSON</h4>
    <br>
    <form action='{% url "pdv:ARTICLE_IMPORT_JSON_FILE" %}' method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      <button class="secondary">
        <i>attach_file</i>
        <span x-text="filename == ''? 'Selecciona un archivo' : filename">File</span>
        <input type="file" name="json_file" accept="text/json" @change="filename = $event.target.files[0].name">
      </button>
      <button class='large' type='submit'>Importar</button>
    </form>
  </article>
{% endblock %}
