
<div class="large-margin">
  <div class="row">
    {{ form.name.label_tag }}
    <div class='field border round max'>
      {{ form.name }} 
    </div>
  </div>
  <br/>
  <div class="row">
    {{ form.description.label_tag }}
    <div class='field border round max'>
      {{ form.description }} 
    </div>
  </div>
  <br/>
  <div class="row">
    {{ form.barcode.label_tag }}
    <div class='field border round max'>
      {{ form.barcode }} 
    </div>
  </div>
  <br/>
  <!-- ALPINE ROOT -->
  <div class="row" x-data='{price:"{{form.price.value}}",purchase_price:"{{form.purchase_price.value}}",percent:20}'>
      {{ form.purchase_price.label_tag }}
      <div class='field border round'>
          <input type='number' id='{{ form.purchase_price.id_for_label }}' 
          step='0.01'
          min='1'
          name='{{ form.purchase_price.html_name }}' 
          x-model='purchase_price' />
      </div>
      {{ form.price.label_tag }}
      <div class='field border round'>
        <input type='number' step='0.01' id='{{ form.price.id_for_label }}' 
        name='{{ form.price.html_name }}' 
        x-model='price' />
      </div>
      <button type='button' @click='price = currency(purchase_price).multiply(1 + percent/100)'>
        Calcular en base a porcentaje de ganancia
      </button>
      <label>Porcentaje de ganancia</label>
      <div class='field prefix border round'>
        <i>percent</i>
        <input type='number' step='1' min='1' value='20' x-model='percent' />
      </div>
  </div>
  <!-- ALPINE -->
  <br/>
  <div class="row">
    {{ form.quantity.label_tag }}
    <div class='field label border round'>
      {{ form.quantity }} 
    </div>
    {{ form.min_quantity.label_tag }}
    <div class='field label border round'>
      {{ form.min_quantity }} 
    </div>
  </div>
  <br/>
  <div class="row">
    <label class='checkbox margin'>
      {{ form.has_iva }} 
      <span class="large-text">Incluye IVA</span>
    </label>
    <label class='checkbox margin'>
      {{ form.controlled }} 
      <span class="large-text">Antibiotico</span>
    </label>
  </div>
  <br/>
  <div class="row">
    {{ form.category.label_tag }}
    <div class='field border round'>
      {{ form.category }} 
    </div>
  </div>
  <br/>
</div>
