{% extends 'pdv/base.html' %}

{% block title %}Administración de {{name}}{% endblock %}

{% block content %}
  <article>
    <h4>{{ name }}</h4>
    <br>
    <form action='{{ url }}' method='POST'>
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
          {{ field.label_tag }}
          <div class='border field'>
            {{ field }}
          </div>
        </div>
        <br/>
        {% endfor %}
      <button class='extra' type='submit'>Guardar</button>
    </form>
  </article>
{% endblock %}
