{% extends 'pdv/base.html' %}

{% block title %}Reportes{% endblock %}

{% block content %}
  <article>
    <h4>Reportes de ventas</h4>
    <a href='{% url "pdv:REPORT_NAMED" "today" %}' class='chip'>Ventas de hoy</a>
    <a href='{% url "pdv:REPORT_NAMED" "week" %}' class='chip'>Ventas de la semana</a>
    <a href='{% url "pdv:REPORT_NAMED" "month" %}' class='chip'>Ventas del mes</a>
    <h5>Generar reporte de ventas</h5>
    <form method='GET' action='{% url "pdv:REPORT_QUERY" %}'>
      <div class="row">
        <label>Desde</label>
        <div class='field border'>
          <input type='date' name='begin'/>
        </div>
      </div>
      <br/>
      <div class="row">
        <label>Hasta</label>
        <div class='field border'>
          <input type='date' name='end'/>
        </div>
      </div>
      <br/>
      <button type='submit' class='primary fill'>Generar</button>
    </form>
  </article>
{% endblock %}
